<!DOCTYPE HTML>

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Spring Boot - AngularJs Example</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="/js/controller.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>

<body>
<div class="container" ng-app="app">
    <h1>Welcome Forms centers:</h1>
    <div ng-controller="reDirectCtrl">
        <a href="views/firstPage1.html"><button>start Demo Form</button></a>
        <button ng-click="redirect()">Click</button>
        <a href="form">First link</a>
    </div>




</div>


</body>
</html>
